@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #f8f8f8;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

html,
body,
#root {
  height: 100%;
}

.header {
  color: #cdcdcd;
}

.node-input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.btn {
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
